<!DOCTYPE html>
<html lang="es">
<head>
    <title>Formulario</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/disenios.css">
</head>
 
<body class="a">


	  {{#client}}
	   <ul class="a">
	   <li class="b"><a class="active" href="/home2/{{name}}">Home</a></li>
	   <li class="b"><a href="#about">Contact</a></li>
	   <li class="b"><a href="/food/{{name}}">Food</a></li>
	   <li class="b"><a href="/shoppingCart/{{name}}">Shopping Cart</a></li>
	   <li class="b"><a href="/datosClient/{{name}}">{{name}}</a></li>
	   </ul>
	  {{/client}}
	  
	  
	  {{^client}}
	  <ul class="a">
	  	<li class="b"><a class="active" href="/">Home</a></li>
	    <li class="b"><a href="#about">Contact</a></li>
	    <li class="b"><a href="/food">Food</a></li>
	    <li class="b"><a href="#about">Shopping Cart</a></li>
	    <li class="b"><a href="/singin.html">Sing in</a></li>
	   </ul>
	  {{/client}}		  
			  
			
			 {{#items}}
			  		<dl>
			  			<div class="box">
			  			<br>
			  			<dd>{{nameItem}}</dd>
			  			<br><br>
			  			{{#client}}
			  			<dd class="boton"><a href="/cart/{{client.name}}/{{nameItem}}/{{category.nameCategory}}">Añadir</a></dd>
			  			{{/client}}
			  			
			  			{{^client}}
			  			<dd class="boton"><a href="/singin.html">Account Login</a></dd>
			  			{{/client}}
			  			</div>
			  		</dl>
			  {{/items}}
			  
</body>
 
</html>